[Unit]
Description=Squeezelite Docker Pulse
After=network.target network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop squeezelite-pulse
ExecStartPre=-/usr/bin/docker rm squeezelite-pulse
ExecStartPre=-/usr/bin/docker network create squeezelite-pulse
ExecStart=/usr/bin/docker run -i \
            --network=squeezelite-pulse \
            -e PUID=%U \
            -e PGID=%G \
            -e SQUEEZELITE_MODE=PULSE \
            -e SQUEEZELITE_NAME="%H-pulse" \
            -e SQUEEZELITE_SERVER_PORT=lms.homelab.com \
            -v /run/user/%U/pulse:/run/user/%U/pulse \
            --name squeezelite-pulse \
            --label com.centurylinklabs.watchtower.enable=false \
            giof71/squeezelite:stable

ExecStop=-/usr/bin/docker stop squeezelite-pulse
ExecStop=-/usr/bin/docker rm squeezelite-pulse
ExecStop=-/usr/bin/docker network rm squeezelite-pulse

[Install]
WantedBy=default.target

