[Unit]
Description=Squeezelite Docker Pulse
After=network.target sound.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop squeezelite-pulse
ExecStartPre=-/usr/bin/docker rm squeezelite-pulse
ExecStartPre=-/usr/bin/docker network create squeezelite-pulse
ExecStart=/usr/bin/docker run -i \
                --network=squeezelite-pulse \
	        -e PUID=%U \
                -e PGID=%G \
	        -e SQUEEZELITE_MODE=pulse \
                -e SQUEEZELITE_NAME=xeon10-pulse-exp \
	        -e SQUEEZELITE_SERVER_PORT=lms.homelab.com \
                -v /run/user/%U/pulse:/run/user/1000/pulse \
	        --name squeezelite-pulse \
	        giof71/squeezelite:pulse

ExecStop=-/usr/bin/docker stop squeezelite-pulse
ExecStop=-/usr/bin/docker rm squeezelite-pulse
ExecStop=-/usr/bin/docker network rm squeezelite-pulse

[Install]
WantedBy=default.target

